<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <h1>Student Dashboard</h1>
</header>
<div class="dashboard">
    <h2>Welcome to Your Dashboard</h2>
    <div class="dashboard-buttons">
        <a href="buyCourses" class="dashboard-btn">Buy Courses</a>
        <a href="myCourses" class="dashboard-btn">My Courses</a>
        <a href="logout" class="dashboard-btn">Logout</a>
    </div>
</div>
	<footer>
        <p>&copy; 2024 LearnSphere. All rights reserved.</p>
    </footer>
</body>
</html>